<html>
    <head>
        <title>Spoty-mix</title>
        <link rel="stylesheet" href="/public/node_modules/bootstrap/dist/bootstrap.min.css">
        <link rel="stylesheet" href="/public/resources/css/style.css">
    </head>
    <body>
        <h1>HI!!!!</h1>
        <ui-view></ui-view>

        <script src="/public/node_modules/angular/angular.min.js"></script>
        <script src="/public/node_modules/angular-ui-router/angular-ui-router.min.js"></script>
        <script src="/public/resources/js/app.js"></script>
    </body>
</html>