<html>
	<head>
		<title>Spotymix</title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/css/style.css">

	</head>

	<body>

		<div class="containter login-screen">
			<div class="row">

				<div class="col-md-6 hidden-sm hidden-xs text-center image-column">
					<img src="/resources/img/headphones_landing.png">
				</div>
				
				<div class="col-md-6 col-sm-12 text-center login-column">
					<h1><img src="/resources/img/logo_white.png" class="img-logo"> spotymix</h1>
					<a class="login-btn btn-success btn-lg" href="auth/spotify">LOGIN</a>
				</div>
			</div>
		</div>
	</body>

</html>